.menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  background-image: url(../images/background_menu.svg);
}

.menu__title {
  margin: 100px auto 24px;
  max-width: 780px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  margin: 0 auto 100px;
  max-width: 780px;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 100px;
  justify-content: center;
  margin-bottom: 100px;
}
