.nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 80px 0 30px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:hover {
  opacity: 0.5;
}
